.card {
    width: 80%;
    min-height: 600px;
    border-radius: 4px;
    background: #292929;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: .4em;
}

.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid #007BDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p:nth-child(1){
    background: url(../assets/img/qr_back.png) no-repeat;
    background-size: cover;
    background-position: center top;
}
.card p:nth-child(2){
    background: url(../assets/img/mentions_back.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.card p:hover {
    flex: 4;
    background: #007BDD;
}

.card p span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    min-width: 14em;
    padding: .5em;
    text-align: center;
    /* transform: rotate(-90deg); */
    transition: all .1s;
    filter: grayscale(0);
    text-transform: uppercase;
    color: #fefefe;
    letter-spacing: .1em;
    opacity: 0;
}
.card p span a {
    text-decoration: none;
}

.card p:hover span, 
.card p:hover span a{
    visibility: visible;
    color: #fefefe;
    transform: rotate(0deg);
    opacity: 1;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card p:hover span a:hover{
    filter: invert(2);
}




@media screen and (max-width: 900px) {
    .card {
        width: 100%;
        height: 300px;
    }
}
    

