/* ##########################################
#                                           #
#                  CONTACT                  #
#                                           #
############################################# */
.contact {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-left,
.contact-right {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.input-group {
    position: relative;
}

.input:not(textarea) {
    height: 50px;
    width: 400px;
    padding: 10px;
    background: #292929;
    border-radius: 5px;
    outline: none;
    color: #fefefe;
    border: none;
    border-bottom: 2px solid #007DBB;
}

textarea {
    min-height: 80px;
    width: 400px;
    padding: 10px;
    background: #292929;
    border-radius: 5px;
    outline: none;
    color: #fefefe;
    border: none;
    border-bottom: 2px solid #007DBB;
}

.placeholder {
    position: absolute;
    top: 15px;
    left: 8px;
    font-size: 14px;
    padding: 0 5px;
    color: #007DBB;
    font-family: 'DunbarLow-Medium';
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
}

.input:focus+.placeholder,
.input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    background-color: #292929;
}