@font-face {
    font-family: DunbarLow-Light;
    src: url(../assets/fonts/DunbarLow-Light/DunbarLow-Light.ttf);
}

@font-face {
    font-family: DunbarLow-Medium;
    src: url(../assets/fonts/DunbarLow-Medium/DunbarLow-Medium.ttf);
}