@import url(reset.css);
@import url(fonts.css);

/* ##########################################
#                                           #
#                    RESET                  #
#                                           #
############################################# */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DunbarLow-Light';
    font-size: 16px;
    letter-spacing: 2px;
    color: #fefefe;
}
html {
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background: #292929;
}

h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    text-align: center;
}


/* ##########################################
#                                           #
#                   HEADER                  #
#                                           #
############################################# */

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mobile {
    display: none;
}

nav .menu__mobile {
    display: none;
}
nav{
    position: sticky;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    box-shadow: 0px 0px 5px 0px #fefefe;
    width: 100%;
    height: 75px;
}

nav .menu__desktop{
    width: 100%;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .menu__desktop li {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu__desktop li a {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: #fefefe;
    letter-spacing: 3px;
    border-radius: 10px;
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

nav .menu__desktop li a:hover{
    color: #007DBB;
    font-family: 'DunbarLow-Medium';
}

nav .menu__desktop li a.active,
nav .menu__mobile__list li a.active{
    color: #007DBB;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
}

/* ##########################################
#                                           #
#                  ACCUEIL                  #
#                                           #
############################################# */

main {
    margin-top: 30px;
    width:  calc(100% - 45px);
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}


/* ##########################################
#                                           #
#                PROGRESS BAR               #
#                                           #
############################################# */


::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

.scrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 15px;
    background: linear-gradient(to top, #007DBB, #0090d8);
    transition: all .3s ease-in-out;
}

.clickScrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: rgba(170, 170, 170,.356);
}




/* ##########################################
#                                           #
#                MEDIA-QUERIES              #
#                                           #
############################################# */

@media screen and (max-width: 900px) {
    .mobile {
        display: block;
    }
    .desk {
        display: none;
    }
    nav .menu__desktop {
        display: none;
    }

    nav {
        width: 100%;
        height: 75px;
        transition: .3s ease-in-out;
    }

    nav.open{
        height: 100vh;
    }

    nav .menu__mobile {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .menu__mobile__trigger {
        width: 100%;
        height: 75px;
        position: sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
        box-shadow: 0px 0px 5px 0px #fefefe;
    }

    nav .menu__mobile__list {
        width: 100%;
        height: 0;
        display: none;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        opacity: 0;
    }

    nav.open .menu__mobile__list {
        height: 100%;
        display: flex;
        opacity: 1;
    }

    .menu__mobile__list li {
        width: 100%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu__mobile__list li a {
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        text-decoration: none;
        color: #fefefe;
        letter-spacing: 3px;
        border-radius: 10px;
        transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    .menu__mobile__list li a:hover{
        color: #007DBB;
        font-family: 'DunbarLow-Medium';
    }

}